* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

.open-popup {
    display: inline-block;
    padding: 15px 30px;
    background: #666666b0;
    color: #fff;
    font-weight: normal;
    font-size: inherit;
    border: 2px solid #666666b0;
}

.open-popup:hover {
    background: #fff;
    color:#666666;
    border: 2px solid #666666b0;
    transition: 0.5s all;
}

.open-popup:focus {
    background: #fff;
    color:#666666;
    border: 2px solid #666666b0;
    transition: 0.5s all;
    outline: none;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
}
.table th {
	font-weight: normal;
	padding: 5px;
	background: #666666b0;
	border: 1px solid #dddddd;
    color: #fff;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

.note{
    text-transform: lowercase;
    margin: initial;
    font-size: smaller;
}
/**/
/*:invalid{*/
/*    color: #2982ff;*/
/*}*/

/* Popup */

.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; /* Скрываем фон и сам попап */
    pointer-events: none; /* Запрещаем ему быть целью событий */
    transition: 0.5s all;
}

.popup__bg.active { /* При добавлении класса 'active' */
    opacity: 1; /* Показываем фон и попап */
    pointer-events: all; /* Возвращаем события */
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Центрируем и масштабируем в 0 само окно */
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active { /* При добавлении класса 'active' */
    transform: translate(-50%, -50%) scale(1); /* Так же центрируем и плавно увеличиваем */
    transition: 0.5s all;
}
/* Конец важной части */
/* Далее код для стилизации формы */
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup label {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text {
    margin-bottom: 5px;
}

.popup input {
    height: 45px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.popup select {
    height: 45px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.label-select{
    flex-direction: column !important;
}

.option{
    color: black;
}

.popup input:focus {
    border-bottom: 1px solid #2982ff;
}

.popup input:focus + .label__text {
    color: #2982ff;
}

.popup select:focus {
    color: black;
    text-transform: initial;
}

.popup textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px;
    padding-top: 5px;
}

.popup textarea:focus {
    border-bottom: 1px solid #2982ff;
}

.popup textarea:focus + .label__text {
    color: #2982ff;
}

.popup button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid #666666b0;
    background: #666666b0;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.popup button:hover {
    background: #fff;
    color:#666666;
    transition: 0.5s all;
}
