<!DOCTYPE html>
<html>
<head>
    <title>Тестовое задание</title>
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="{{ static }}css/style.css">
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Регион</th>
                <th>Город</th>
                <th>Телефон</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            {% for el in users_list %}
            <tr>
                <td>{{ el.User.id }}</td>
                <td>{{ el.User.second_name }}</td>
                <td>{{ el.User.first_name }}</td>
                <td>{{ el.User.patronymic }}</td>
                <td>{{ el.Region.region_name }}</td>
                <td>{{ el.City.city_name }}</td>
                <td>{{ el.User.phone }}</td>
                <td>{{ el.User.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="button-block">
        <button class="open-popup">Добавить пользователя</button>
    </div>
    <div class="button-block">
        <button class="func-button">Импортировать данные из .xlsx</button>
        <a class="func-button" href="http://127.0.0.1:8000/download_users_xlsx/">Экспортировать данные в .xlsx</a>
    </div>
        <div class="button-block">
        <button class="func-button">Импортировать данные из .pdf</button>
        <button class="func-button">Экспортировать данные в .pdf</button>
    </div>


    <!--Popup-->
    <div class="popup__bg">
        <form class="popup" method="post" name="create-user-form" id="user-create-form">
            <img src="{{ static }}img/bx-x-circle.svg" class="close-popup">
            <label>
                <input type="text" name="second_name" required>
                <div class="label__text">
                    Фамилия
                    <p class="note">обязательно</p>
                </div>
            </label>
            <label>
                <input type="text" name="first_name" required>
                <div class="label__text">
                    Имя
                    <p class="note">обязательно</p>
                </div>
            </label>
            <label>
                <input type="text" name="patronymic">
                <div class="label__text">
                    Отчество
                </div>
            </label>

            <label class="label-select">
                <div class="label__text">
                    Регион
                </div>
                <select class="label__text region-select" name="region">
                    <option selected disabled>Выберите регион</option>
                    {% for region in regions_list %}
                    <option value="{{ region.id }}">{{ region.region_name }}</option>
                    {% endfor %}
                </select>
            </label>

            <label class="label-select city-select">
                <div class="label__text">
                    Город
                </div>
                <select class="label__text" name="city" id="city-select">
                    <option selected disabled>Выберите город</option>
                </select>
            </label>

            <label>
                <input type="tel" name="phone" pattern="\+7 [0-9]{3} [0-9]{3} [0-9]{2} [0-9]{2}">
                <div class="label__text">
                    Телефон
                    <p class="note">+7 ххх ххх хх хх</p>
                </div>
            </label>
            <label>
                <input type="email" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <div class="label__text">
                    email
                </div>
            </label>
            <button type="submit" id="submit-form">Создать</button>
        </form>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script defer src="{{ static }}js/style.js"></script>
<script defer src="{{ static }}js/scripts.js"></script>
</html>
